/*中间表格上面标签*/
.flag-style{
    width: 100%;
    background-color:#c8c8ca;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 2px;
}
.flag a{
    font-size:18px;
}
.flag a:hover{
    text-decoration: none;
}
.button-style{
    border: none;
    background-color: rgba(255, 245, 240, 0);
    font-size: 16px;
    color: cornflowerblue;
}
.font-style a:hover{
    text-decoration: none;
}
